useDynLib(twinkle)
import(methods)
importFrom(Rsolnp, solnp, gosolnp, startpars)
importFrom(lattice, wireframe)
importFrom(numDeriv, jacobian, hessian, grad)
importFrom(xts, xts, as.xts, is.xts, axTicksByTime, timeBasedSeq)
importFrom(zoo, coredata, index, na.approx)
importFrom(parma, cmaes, cmaes.control)
importFrom(ks, kde, rkde, dkde, hpi)
importFrom(KernSmooth, dpik)
importFrom(MASS, ginv)
importFrom(SkewHyperbolic, qskewhyp, pskewhyp)
importFrom(RcppDE, DEoptim, DEoptim.control)
importFrom(parallel, makeForkCluster, makePSOCKcluster, stopCluster, clusterEvalQ, clusterExport, clusterMap, parLapply, parSapply, parLapplyLB)
exportClasses("STARspec", "STARfit", "STARfilter", "STARforecast", "STARsim", "STARpath","STARroll")
exportMethods("convergence","setstart<-","setfixed<-","setbounds<-","getspec","resume")
exportMethods("show", "plot","coef","fitted","residuals","sigma","likelihood")
exportMethods("states","modelmatrix","score","vcov","infocriteria","quantile","pit", "nonlinearTest")
export("starspec", "starfit", "starsim","starpath","starforecast","starfilter","rollstar")
export("trans2fun2d","trans2fun3d","trans3fun2d")
importFrom(graphics, plot, lines)
importFrom(stats, coef, residuals, fitted, quantile, vcov)
import(rugarch)